.linecolor{
    border: solid rgb(136, 69, 46) 3px;
} 

p {
    color:#630000;
}
.profile{
    border-radius: 50%;
}
body{
    background-color: #EEEBDD;
}
hr{
    /*background-color: white;*/
    border-style: dotted none none;
    /*height:0;*/
    width: 30%;
    border-color: rgb(136, 69, 46);
    border-width:5px;

}