h1{

    color:brown;
    font-size: 200px;

}

img:hover {
    background-color:gold;
    }
    

.bacon {

    background-color: rgb(250, 125, 106);
      
}

.broccoli{

    background-color: rgb(97, 229, 141);

}

.circular {

    border-radius: 100%;
  }
  

/* ID Selector */

#heading {

    color:blue;
  }
  